/* FONT */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GENERAL */

html {
  scroll-behavior: smooth;
  margin-bottom: 100px;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
ul {
  margin: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
ul > li {
  list-style: none;
}
h1,
h4 {
  margin: 0;
  padding: 0;
}
pm-none {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* NAVBAR */

a > .navbar-brand {
  margin-right: 0;
}
.link-navbar {
  margin-right: 0;
}
#navbar {
  background: yellowgreen;
}
.custom-offcanvas {
  background-color: #f8f9fa;
  color: #333;
  max-width: 350px;
  border-radius: 10px;
}
.menu-container {
  padding: 20px;
  position: relative;
}
.menu-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.menu-item span {
  font-weight: bold;
  font-size: 18px;
}
.submenu {
  list-style: none;
  padding-left: 20px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #333;
}
.rotate-icon {
  transform: rotate(90deg);
}
.menu-item:hover {
  background-color: yellowgreen;
  transition: background-color 0.3s ease;
}
.offcanvas-custom {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  width: 90%;
}
.selected {
  transform: translateY(-3px);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  padding: 7px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.selected::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;

  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

/* HOME */

#custom-img {
  background-color: green;
  color: white;
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#custom-img-featured {
  background-color: green;
  color: white;
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* CALENDAR */

.calendar-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.select-container {
  margin-bottom: 20px;
}
.month-select,
.year-select {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  background-color: #fff;
}
.day-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.472);
  padding: 10px;
  margin-bottom: 20px;
}
.day {
  font-size: 18px;
  font-weight: bold;
}
.day-of-week {
  margin-top: 5px;
  font-size: 14px;
}

/* BUTTON */

.custom-button-primary {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: rgb(153, 204, 51);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-button-primary:hover {
  background-color: greenyellow;
  color: black;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
.custom-button-primary:active {
  background-color: greenyellow !important;
}
.custom-button-secondary {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-button-secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: #621010;
}
.custom-button-secondary:active {
  background-color: #621010 !important;
}
.custom-button-ter {
  font-size: 20px;
  color: black;
  background-color: #f2f2f2;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom-button-ter:hover {
  background-color: #f2f2f2;
  color: black;
}
.custom-button-ter:active {
  background-color: transparent !important;
}
.custom-checkbox .form-check-input:checked {
  background-color: yellowgreen;
  border-color: yellowgreen;
}

/* MODAL */

.modal-content {
  border-radius: 10px;
}
.modal-header {
  background-color: yellowgreen;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-header-error {
  background-color: #ff001a;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.modal-footer button {
  border-radius: 5px;
}
.modal-body {
  padding: 20px;
}

/* SINGIN */

.singin-container {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
